[{:arachne/name :org.arachne-framework/arachne-chimera
  :arachne/schema arachne.chimera/schema
  :arachne/configure arachne.chimera/configure
  :arachne/dependencies [:org.arachne-framework/arachne-core]}]
